body {
  margin: 0;
  font-family: Inter, sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: overlay;
  font-size: 18px;
  font-weight: normal;
  background-color: rgb(230, 230, 230);
  color: white;
  text-rendering: optimizelegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
